header h1 {
    text-align: center;
    font-family: 'Pacifico', cursive;
    word-spacing: 1em;
    letter-spacing: 1mm;
    color: #281e5d;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0rem;
    line-height: 2.2;
}
.card-body, .card-img-top, div .card {
    background: beige; !important
}
.card-title {
    font-family: 'Pacifico', cursive;
    color:#60698a;
    font-size:x-large;
}
.row {
    justify-content: space-evenly;!important
}
html, body, main, header {
    background: #d4ecc7;
    --bs-body-line-height: 1.1 !important
}
.text {
    background-color: white;
    font-size: larger;
}
.navbar {
    margin-left: 2em;
    margin-right: 2em;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around !important;
    background-color:beige;
  }
  
  .navbar li a {
    text-decoration: none;
    font-family: "Concert One", cursive;
    font-size: larger;
    background-color: beige;
  }
  /* #input-username, #input-password {
    border-radius: 50%;
  } */
  label {
    pointer-events: none;
  }
* {
    font-family: 'Titillium Web', sans-serif;
}
a:link {
    color: #e99b9a;
}
a:hover {
    color: #94bb86;
}
a:visited:hover {
    color: #94bb86;
}
a:visited {
    color: #e99b9a;
    
}

